body { font-size: 18px }
.paging-button { visibility: hidden; }
.button-container { clear: both; }
.video-list { font-size: 1.5em; line-height: 1.5em; list-style: none }
#privacyStatus { width: 120px; margin: 0 auto; padding: 4px }
.center { text-align: center; margin: 0 auto }
#decode { height: 300px; width: 80%; margin: 0 auto }
.content { width: 90%; margin: 0 auto }
footer { margin-top: 20px }
.p-2 { padding: .2em; }
.m-1 { margin: 1em auto }
#spin { margin: 15px auto 10px; width: 96%; min-height:240px }
#results { width: 100%; min-height: 500px; margin: 20px }
#title { min-width: 200px; margin: 10px auto; text-align: center }
.btn { margin: 10px auto }
.instructions { margin: auto; display: block; padding: 25px; text-align: center; }
textarea { width: 80%; margin: auto; display: block; padding: 4px; background: #333; color: #fff; border: 1px solid #eee; }
textarea:active, textarea:focus { /*border: 1px solid #FF3300;*/
border: 1px solid #aaa; }
.create { margin: auto; display: block; background: #333; color: #fff; padding: 4px; border-radius: 2px; border: 1px solid #aaa; font-size: 110%; }
#playlistLink { margin: auto; display: block; }
#playlist-description-new { margin: 1rem auto; width: 80%; height: 120px}
#video-id{height: 200px;width: 1000px}
input{width: 100%}
hr{border-color: #373f40}
pre{height: 120px}